<tr id="<%= dom_id order %>">
  <td class="text-center align-middle"><%= order.user_id %></td>
  <td class="text-center align-middle"><%= order.user.first_name %></td>
  <td class="text-center align-middle">$<%= order.amount %></td>
  <td class="text-center align-middle"><%= order.created_at.strftime('%m/%d/%Y') %></td>
</tr>
