<h1 class="mt-3 text-secondary">Orders history</h1>

<p>
  For
  <%= current_user.role %>
  <%= current_user.first_name %>
  <%= current_user.last_name %>
  <%= current_user.email %>
</p>

<div id="orders">
  <% if current_user.role === 'admin' %>
    <% if @orders.count > 0 %>
      <div class="w-90 overflow-scroll">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" class="text-center align-middle">User id</th>
                <th scope="col" class="text-center align-middle">User name</th>
                <th scope="col" class="text-center align-middle">Amount</th>
                <th scope="col" class="text-center align-middle">Date</th>
              </tr>
            </thead>  
            <tbody>
              <% @orders.each do |order| %>
                <%= render order %>
              <% end %>
            </tbody>
          </table>
      </div>
    <% else %>
      <p>No one made no orders yet</p>
    <% end %>
  <% else %>
    <% if current_user.orders.count > 0 %>
          <div class="w-90 overflow-scroll">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" class="text-center align-middle">User id</th>
                  <th scope="col" class="text-center align-middle">User name</th>
                  <th scope="col" class="text-center align-middle">Amount</th>
                  <th scope="col" class="text-center align-middle">Date</th>
                </tr>
              </thead>  
                <tbody>
                  <% current_user.orders.each do |order| %>
                    <%= render order %>
                  <% end %>
                </tbody>
              </table>
          </div>
    <% else %>
      <p>You've made no orders yet</p>
    <% end %>
  <% end %>
</div>

<%= link_to root_path do %>
  <button type="button" class="mb-3 btn btn-sm btn-primary" style="width: 90px; height: 38px">To shop</button>
<% end %>
