<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-2">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="mb-2">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>
  <div class="mb-2">
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price, class: 'form-control' %>
  </div>

  <%= button_tag(type: 'submit', class: "btn btn-sm btn-primary") do %>
      Save
  <% end %>
<% end %>
