<!DOCTYPE html>
<html>
  <head>
    <title>rails store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white">
    <%= render 'layouts/header' %>
    <div class="container" style="min-height: calc(100vh - 154px)">
      <% if notice %><div class="mt-3 alert alert-info"><%= notice %></div><% end %>
      <% if alert %><div class="mt-3 alert alert-warning"><%= alert %></div><% end %>
      <%= render partial: "cart/cart" if @render_cart %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
